<!DOCTYPE HTML>
<html>
    <head>
        <title>Series Z | Cats</title>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="static/js-b/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="static/css-b/cats.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="static/css-b/ie8.css" /><![endif]-->
        <script src="/static/js-b/sorttable.js"></script>          
    </head>
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header" class="alt">
                    <h1><a href="/">Series Z</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/startups">Startups</a></li>
                            <li><a href="/founders">Founders</a></li>
                            <li><a href="/cities">Cities</a></li>
                        </ul>
                    </nav>
                </header>

            <!-- Banner -->
                <section id="banner">
                    <h2>Cats</h2>
                </section>

            <!-- Main -->
                <section id="main" class="container">
                                            <div class="12u">

                            <!-- Table -->
                                <section class="box">

                                    <!-- <h4>Default</h4> -->
                                    <div class="table-wrapper">
                                    </div>
                                </section>

                        </div>


        </div>

        <!-- Scripts -->
            <script src="/static/js-b/jquery.min.js"></script>
            <script src="/static/js-b/jquery.dropotron.min.js"></script>
            <script src="/static/js-b/jquery.scrollgress.min.js"></script>
            <script src="/static/js-b/skel.min.js"></script>
            <script src="/static/js-b/util.js"></script>
            <script src="/static/js-b/simple-bootstrap-paginator.js"></script>
            <!--[if lte IE 8]><script src="/static/js-b/ie/respond.min.js"></script><![endif]-->
            <script src="/static/js-b/main.js"></script>

    </body>
</html>