<!DOCTYPE HTML>

<html>
    <head>
        <title>Series Z</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/pages/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/pages/assets/css/ie8.css" /><![endif]-->
    </head>
    <body>

        <!-- Header -->
            <section id="header">
                <header>
                    <span class="image avatar"><img src="{{ images[city.name.title()] }}" alt="" /></span>
                    <h1 id="logo"><a href="#">{{ city['name'] }}</a></h1>
                </header>
                <nav id="nav">
                    <ul>
                        <li><a href="#about" class="active">About</a></li>
                        <li><a href="#companies">Companies</a></li>
                    </ul>
                </nav>
                <footer>
                </footer>
            </section>

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">



                        <!-- About -->
                            <section id="one">
                                <footer>
                                   <ul class="icons">
                                        <li><a href="/" class="icon fa-home">Home<span class="label">Home</span></a></li>

                                        <li><a href="/startups" class="icon fa-gears">Startups<span class="label">Startups</span></a></li>

                                        <li><a href="/founders" class="icon fa-users">Founders<span class="label">Founders</span></a></li>

                                        <li><a href="/cities" class="icon fa-building">Cities<span class="label">Cities</span></a></li>
                                    </ul>
                                </footer>
                            </section>

                        <!-- About -->
                            <section id="about">
                                <div class="container">
                                    <h3>About</h3>
                                    <ul class="feature-icons">
                                        <li class="fa-fire">{{ city.popularity }} popularity score</li>
                                        <li class="fa-money">{{ city.investor_followers }} investors</li>
                                        <li class="fa-briefcase">{{ city.num_companies }} companies</li>
                                        <li class="fa-users">{{ city.num_people }} founders</li>
                                    </ul>
                                </div>
                            </section>

                        <!-- Companies -->
                            <section id="companies">
                                <div class="container">
                                    <h3>Startups</h3>
                                    <p>Here are {{ city.name }}'s top 5 startups.</p>
                                    <div class="features">
                                        {% for startup in city.startups[:5]  %}
                                        <article>
                                            <a href="/startups/{{ startup.id }}" class="image"><img src="{{ startup.logo_url }}" alt="" /></a>
                                            <div class="inner">
                                                <h4>{{startup.name}}</h4>
                                                <p>{{ startup.product_desc[:140] }} <a href="/startups/{{ startup.id }}">...</a> </p>
                                            </div>
                                        </article>
                                        {% endfor %}
                                    </div>
                                </div>
                            </section>

                    </div>

                <!-- Footer -->
                    <section id="footer">
                        <div class="container">
                        </div>
                    </section>

            </div>

        <!-- Scripts -->
            <script src="/static/pages/assets/js/jquery.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrollzer.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrolly.min.js"></script>
            <script src="/static/pages/assets/js/skel.min.js"></script>
            <script src="/static/pages/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/pages/assets/js/main.js"></script>

    </body>
</html>