<!DOCTYPE HTML>

<html>
    <head>
        <title>Series Z</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/pages/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/pages/assets/css/ie8.css" /><![endif]-->
    </head>
    <body>

        <!-- Header -->
            <section id="header">
                <header>
                    <span class="image avatar"><img src="{{ startup['logo_url'] }}" alt="" /></span>
                    <h1 id="logo"><a href="{{ startup['company_url'] }}">{{ startup['name'] }}</a></h1>
                    <p></p>
                </header>
                <nav id="nav">
                    <ul>
                        <li><a href="#overview" class="active">Overview</a></li>
                        <li><a href="#founders">Founders</a></li>
                    </ul>
                </nav>
            </section>

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">

                        <!-- One -->
                            <section id="one">
                                <footer>
                                   <ul class="icons">
                                        <li><a href="/" class="icon fa-home">Home<span class="label">Home</span></a></li>

                                        <li><a href="/startups" class="icon fa-gears">Startups<span class="label">Startups</span></a></li>

                                        <li><a href="/founders" class="icon fa-users">Founders<span class="label">Founders</span></a></li>

                                        <li><a href="/cities" class="icon fa-building">Cities<span class="label">Cities</span></a></li>
                                    </ul>
                                </footer>
                            </section>

                        <!-- overview -->
                            <section id="overview">
                                <div class="container">
                                    <h3>Overview</h3>
                                    <ul class="feature-icons">
                                        <li class="fa-fire">{{ startup.popularity }} popularity score</li>
                                        <li class="fa-users">{{ startup.num_founders }} founders</li>
                                        <li class="fa-gears">Market: {{ startup.market.title() }}</li>
                                        <li class="fa-building"><a href="/cities/{{ startup.city.id }}">{{ startup.city.name }}</a></li>
                                    </ul>
                                    <p>{{ startup['product_desc'] }}</p>
                                </div>
                            </section>


                        <!-- founders -->
                            <section id="founders">
                                <div class="container">
                                    <h3>Founders</h3>
                                    <!-- <p>Uber has good founders.</p> -->
                                    {% for founder in startup.founders %}
                                    <article>
                                            <a href="/founders/{{founder.id}}" class="image"><img src="{{founder.image_url}}" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="/founders/{{founder.id}}">{{ founder.name }}</a></h4>
                                                <p>{{ founder.bio }}</p>
                                            </div>
                                    </article>
                                    {% endfor %}
                                    
                                </div>
                            </section>


                    </div>

                <!-- Footer -->
                    <section id="footer">
                        <div class="container">
                        </div>
                    </section>

            </div>

        <!-- Scripts -->
            <script src="/static/pages/assets/js/jquery.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrollzer.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrolly.min.js"></script>
            <script src="/static/pages/assets/js/skel.min.js"></script>
            <script src="/static/pages/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/pages/assets/js/main.js"></script>

    </body>
</html>