<!DOCTYPE HTML>

<html>
    <head>
        <title>Series Z</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/pages/assets/css/main.css" />
        <link rel="stylesheet" href="/static/pages/assets/css/text-field.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/pages/assets/css/ie8.css" /><![endif]-->
    </head>
    <body>


        <!-- Header -->
            <section id="header">
                <header>
                    <h1 id="logo"><a href="#">Stealth Mode Labs</a></h1>
                    <p>Deadly good programming</p>
                </header>
                <nav id="nav">
                    <ul>
                        <li><a href="#members" class="active">Members</a></li>
                        <li><a href="#stats">Stats</a></li>
                        <li><a href="#data">Data</a></li>
                        <li><a href="#tools">Tools</a></li>
                        <li><a href="#tests">Tests</a></li>
                    </ul>
                </nav>
            </section>

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">

                        <!-- One -->
                            <section id="one">
                                <footer>
                                   <ul class="icons">
                                        <li><a href="/" class="icon fa-home">Home<span class="label">Home</span></a></li>
                                        <li><a href="/startups" class="icon fa-gears">Startups<span class="label">Startups</span></a></li>
                                        <li><a href="/founders" class="icon fa-users">Founders<span class="label">Founders</span></a></li>
                                        <li><a href="/cities" class="icon fa-building">Cities<span class="label">Cities</span></a></li>
                                    </ul>
                                </footer>
                            </section>
                        <!-- members -->
                            <section id="members">
                                <div class="container">
                                    <h2>Members</h2>
                                    <article>
                                             <img height=100 width=100 src="https://01bf3c4f7b323af6851cb8495466ab9a8caf2e04.googledrive.com/host/0B6SdAYtXoGPQZk9Hc3JrcDN1OWM/danyal.jpg" alt="" />
                                            <div class="inner">
                                                <h4>Danyal Rizvi</h4>
                                                <strong>Bio</strong>
                                                <p>Danyal is from Houston, TX and is brother to Moiz Rizvi. He has interned at Nextdoor and Union Pacific Railroad where he analyzed data. He will be graduating in 2016.</p>

                                                <strong>Stats</strong>
                                                <ul>
                                                    <li>15 commits</li>
                                                    <li>23 issues</li>
                                                    <li>10 unit test</li>
                                                </ul>

                                                <strong>Major Responsibilities</strong>
                                                <ul>
                                                    <li>API design</li>
                                                    <li>Rackspace hosting</li>
                                                </ul>
                                            </div>
                                    </article>
                                    <article>
                                             <img height=100 width=100 src="https://01bf3c4f7b323af6851cb8495466ab9a8caf2e04.googledrive.com/host/0B6SdAYtXoGPQZk9Hc3JrcDN1OWM/amanda.png" alt="" />
                                            <div class="inner">
                                                <h4>Amanda Keebler</h4>
                                                <strong>Bio</strong>
                                                <p>Amanda is from Wenatchee, Washington and moved to Texas in 2011. She has interned for Motion Computing and The Boeing Company and will be graduating in August this year.</p>

                                                <strong>Stats</strong>
                                                <ul>
                                                    <li>13 commits</li>
                                                    <li>9 issues</li>
                                                    <li>10 unit tests</li>
                                                </ul>

                                                <strong>Major Responsibilities</strong>
                                                <ul>
                                                    <li>Frontend</li>
                                                    <li>Documentation</li>
                                                </ul>

                                            </div>
                                    </article>
                                    <article>
                                             <img height=100 width=100 src="https://01bf3c4f7b323af6851cb8495466ab9a8caf2e04.googledrive.com/host/0B6SdAYtXoGPQZk9Hc3JrcDN1OWM/austin.jpg" alt="" />
                                            <div class="inner">
                                                <h4>Austin Thomas</h4>
                                                <strong>Bio</strong>
                                                <p>Austin is from Burke, Virginia and moved to Texas to start pursuing his degree at the University of Texas. He has interned at IBM and Bloomberg and will be graduating this May.</p>

                                                <strong>Stats</strong>

                                                <ul>
                                                    <li>19 commits</li>
                                                    <li>12 issues</li>
                                                    <li>8 unit tests</li>
                                                </ul>

                                                <strong>Major Responsibilities</strong>
                                                <ul>
                                                    <li>Backend</li>
                                                    <li>Repository maintenance</li>
                                                </ul>


                                            </div>
                                    </article>
                                    <article>
                                             <img height=100 width=100 src="https://01bf3c4f7b323af6851cb8495466ab9a8caf2e04.googledrive.com/host/0B6SdAYtXoGPQZk9Hc3JrcDN1OWM/moiz.jpg" alt="" />
                                            <div class="inner">
                                                <h4>Moiz Rizvi</h4>
                                                <strong>Bio</strong>
                                                <p>Moiz is from Houston, TX and is brother to Danyal Rizvi. Currently, he works for Gigster, but has previously interned for Salesforce. He will be graduating in 2017.</p>

                                                <strong>Stats</strong>
                                                <ul>
                                                    <li>9 commits</li>
                                                    <li>7 issues</li>
                                                    <li>4 unit tests</li>
                                                </ul>

                                                <strong>Major Responsibilities</strong>
                                                <ul>
                                                    <li>Frontend</li>
                                                    <li>Research</li>
                                                </ul>

                                            </div>
                                    </article>
                                </div>
                            </section>

                        <!-- stats -->
                            <section id="stats">
                                <div class="container">
                                    <h2>Stats</h2>
                                    <div class="features">
                                    <h4>Code</h4>
                                    <li>40 total commits</li>
                                    <li>21 total issues</li>
                                    <li>18 total unit tests</li>
                                    
                                    <h4>Links</h4>
                                    <li><a href="https://seriesz1.apiary.com/">Apiary API</a></li>
                                    <li><a href="https://github.com/dsrizvi/cs373-idb/issues">GitHub Issues</a></li>
                                    <li><a href="https://github.com/dsrizvi/cs373-idb">GitHub Repo</a></li>
                                    <li><a href="https://github.com/dsrizvi/cs373-idb/wiki">GitHub Wiki</a></li>
                                        
                                    </div>
                                </div>
                            </section>

                        <!-- data -->
                            <section id="data">
                                <div class="container">
                                    <h2>Data</h2> 
                                    <p>We used the <a href="https://angel.co/api">Angel List</a> API. We didn't need to scrape any data.</p>
                                </div>
                            </section>

                        <!-- Tools -->
                            <section id="tools">
                                <div class="container">
                                    <h2>Tools</h2>
                                    Please see <a href="https://github.com/dsrizvi/cs373-idb/wiki/Tools">our wiki</a>!
                                </div>
                            </section>

                            <section id="tests">
                                <div class="container">
                                    <h2>Tests</h2>
                                    <p>Click the button below to run tests</p>
                                    <a href="/run_tests" class="button">Run Tests</a>
                                </div>
                            </section>

                    </div>

                <!-- Footer -->
                    <section id="footer">
                        <div class="container">
                        </div>
                    </section>

            </div>

        <!-- Scripts -->
            <script src="/static/pages/assets/js/jquery.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrollzer.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrolly.min.js"></script>
            <script src="/static/pages/assets/js/skel.min.js"></script>
            <script src="/static/pages/assets/js/util.js"></script>
            <script type="text/javascript">
                function showDiv() {
                   document.getElementById('test-results').style.display = "block";
                }
            </script>
            <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/pages/assets/js/main.js"></script>

    </body>
</html>